<% if (flash[:notice]) %>
    <%= flash[:notice]%>
    <br />
<% end %>

  
<%= link_to '作成', '/tweets/new' %>
<hr />
<% @tweets.each do |tweet| %>
 
    <%= tweet.message %>
    
<<<<<<< HEAD
<div class="tweet">
    <audio src= "<%= "get_audio/#{tweet.id}" %>" controls="">
        <a src= "<%= "get_audio/#{tweet.id}" %>"></a>
    </audio>
</div>
    
   
=======
    <div class="tweet">
      
　　　　<audio audio/webm= "<%= "#{tweet.file}" %>" controls="">
         <a audio/webm="<%= "#{tweet.file}" %>">ダウンロード</a>
       </audio>
　　　 
    </div>
>>>>>>> 1a1dd0d104173b2c9fe926fdd4bd5179982dd988

    <br />
   
    <br />

    
    <br />
    <%= link_to '表示', "/tweets/#{tweet.id}" %>
    <%= link_to '編集', "/tweets/#{tweet.id}/edit" %>
    <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
    <br />
    <br />
    <%= link_to '戻る', '/' %>
    <br />
<% end %>

 