<%= form_for @tweet, action: :create do |tweet| %>
    <% if @tweet.errors.present? %>
        <ul>
            <% @tweet.errors.full_messages.each do |error| %>
                <li>
                    <%= error %>
                </li>
            <% end %>
        </ul>
    <% end %>


    <%= tweet.text_area :message %>
    <%= tweet.submit 'ツイート' %>
<br />
    
<% end %>
<br />
<%= form_for @tweet do |f| %>
　
  <%= f.label :file %>
  <%= f.file_field :file , :size => 140 %>
　
  <%= f.submit "送信" %>
  <br />
  <%= link_to '戻る', tweets_path %>
<% end %>